.intro {
    color: white;
    margin-top: 100px;
    text-align: left;
    margin-left: 25px;
}

.photo {
    padding-left: 200px;
    border: 1px solid white;
    border-radius: 25px;
    margin-left: 20px;
}

.home {
    margin-top: 150px;
    center: auto;
    background-color: #343a40;
}

.home-icon {
    margin-left: -15px;
    margin-top: 35px;
}

.home-btn {
    margin-top: 35px;
    margin-left: 30px;
    display: flex;
}

.home-btn:hover {
}

.home-button {
}

.home-button:hover {
    text-decoration: none;
    transform: scale(1.03);
}

.about-button {
}

.about-button:hover {
    text-decoration: none;
    transform: scale(1.03);
}

.icon-button:hover {
    color: black;
}
