.projects{
  grid-auto-rows: 1fr;
}
.class-media {
  height: 170px;
}
.class-root {
  min-height: 420px;
  max-width: 345px;
  margin: 30px;
  position: relative;
}
.class-root:hover {
  transform: scale(1.03);
  /*width: 20px;*/
  transition: transform 2s;/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.aws{
  height: 170px;
}
.card-actions{
  position: absolute;
  bottom: 0;

}
.card-content{
  min-height: 200px;
}
.project-btn{
  margin-top: 30px;
  justify-content: center;
  display: flex;
}
.project-btn:hover{
  transform: scale(1.03);
}