/*body {*/
/*    !*-moz-transform: scale(0.8, 0.8);*!*/
/*    !*zoom: 0.9;*!*/
/*    zoom: 98%;*/
/*}*

 */

* {
  box-sizing: border-box;
  outline-color: #343a40;
}
.body {
  font-size: 0.875rem;
  zoom: 98%;
}
.grid {
  padding: 20px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}
